
.boxes {
  display: flex;
  width: calc(100% - 20px);
  padding: 50px;
  max-width: 1260px;
  flex-wrap: wrap;
}
@media only screen and (max-width: 600px) {
  .boxes {
    padding: 20px;
    padding-right: 0;
 }
}
.boxes .box {
  color: white;
  background-color: rgba(32, 32, 32, 0.7);
  -webkit-backdrop-filter: saturate(180%) blur(10px);
  backdrop-filter: saturate(180%) blur(10px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  margin: 0 20px 20px 0;
  width: 400px;
  display: flex;
  flex-direction: column;
  opacity: 0.85;
  transition: opacity 0.5s;
}
.boxes .box:hover {
  opacity: 1;
}
.boxes .box .image {
  background: #69d570;
  background: linear-gradient(326deg, rgba(105, 213, 112, 1) 0%, rgba(52, 141, 235, 1) 100%);
  width: 100%;
  padding-top: 56.25%;
  cursor: pointer;
}
.boxes .box .content-wrapper {
  padding: 50px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.boxes .box .content-wrapper h3 {
  font-weight: 100;
  font-size: 26px;
  margin-top: 0;
  cursor: pointer;
}

.boxes .box .content-wrapper h6 {
  font-weight: 100;
  font-size: 16px;
  margin-top: 0;
  cursor: pointer;
}
.boxes .box .content-wrapper p {
  flex-grow: 1;
  font-size: 19px;
  line-height: 24px;
  margin-top: 0;
}
.boxes .box .content-wrapper a {
  font-weight: 800;
  color:rgb(194, 189, 181);
  font-size: 19px;
  transition: color 0.5s;
  text-decoration: none;
}
.boxes .box .content-wrapper a:hover {
  color: #888;
}
